@model DDAC_Assignment.Models.WasteServices

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>WasteServices</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.servicesTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.servicesTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.serviceDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.serviceDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.serviceMediaURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.serviceMediaURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.serviceSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.serviceSize)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
